@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Oswald:wght@200;400;600;700&display=swap');

*{
    font-family: 'Helvetica';
    scroll-behavior: auto !important;
}

.navbar{
    background-color: #660066;
    position: fixed;
    width: 100vw;
    z-index: 1;
}
.navbar-brand {
    font-family: 'Oswald';
    font-size: 40px;
    font-weight: 700;
}
#hero{
    background: url("/assets/img/bg_hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

#hero div{
    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0;
    margin: auto;
}
#hero h1{
    font-family: 'Oswald';
    font-size: 72px;
}
#hero h1:first-child{
    font-weight: 200;
}
#hero h1:last-child{
    font-weight: 900;
}

/* ***Sobre Mi*** */
#sobre-mi{
    color: #373A3C;
    font-family: 'Open Sans';
    line-height: 3;
}

/* ****Mi Experiencia***** */
#experiencia div h1{
    font-family: 'Oswald';
    font-size: 52px;
}
#experiencia i{
    color: #660066;
}
#experiencia div:last-child article h4:first-child{
    font-family: 'Oswald';
}
#experiencia div:last-child article h4:last-child{
    font-family: 'Open Sans';
    font-weight: 300;
}

/* ***Mis ultimos Trabajos *** */
#trabajos{
    background-color: #660066;
    font-family: 'Oswald';
}
#trabajos h1{
    font-size: 52px;
}
#contacto h1{
    font-family: 'Oswald';
    font-size: 52px;
}
#footer{
    background-color: #660066;
}
#footer h1{
    font-family: 'Oswald';
}
footer a{
    color: white;
    text-decoration: none;
}