*{
    font-family: 'Open Sans', sans-serif;
}
.nav-color, footer{
    background-color: #E83E8C;
}
.icons-section{
    background-color: #17A2B8;
}
h1{
    color: #707070;
    font-weight: 700;
  }
  /* Por algún motivo no me tomo el h2 la 400 asi que le pondre la 700  */
h2{
      font-weight: 700;
}